*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{list-style: none;}
form {
    display: block;
    margin-top: 0em;
}
/* 头部彩色条状的css */
.top div{
	width: 20%;
	float: left;
	height: 5px;
}
.top div.yellow{
	background-color: #ffb400;
}
.top div.red{
	background-color: #ef3838;
}
.top div.blue{
	background-color: #0373B9;
}

/* 欢迎黑色界面的css */
.welcome{
	background-color: black;
	width: 100%;
	height: 40px;
}
.container{
	width: 1300px;
	margin: 0 auto;
}
.welcome p{
	height: 40px;
	font-size: 12px;
	color: #ffffff;
	line-height: 40px;
}
/* logo那一排的css */
.logo {
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.logo .logo-icon {
   height: 80px;
   width: 132px;
   float: left;
   background-color: #0373B9;
   background-repeat: no-repeat;
}
.logo .container{
	width: 100%;
	height: 80px;
	background-color: #ffffff;
}
/* logo名字 */
/* logo css3动画变化 */
@keyframes logoname{
	0%  {color: #1a3baa;}
	30% {color: #0373B9;}
	60% {color: #198540;}
	100%{color: #28A4C9;}
}
.logo .name {
    float: left;
	line-height: 80px;
    background-repeat: no-repeat;
    margin-left: 30px;
	animation: logoname 5s linear;
	animation-iteration-count: infinite;
}


/* logo的搜索框 */
@keyframes search{
	0%  {background-color: #18aa29;}
	30% {background-color: #0373B9;}
	60% {background-color: #198540;}
	100%{background-color: #28A4C9;}
}
.logo .search {
    width: 300px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    float: right;
   margin: 20px 0;
}
/* 搜索框的前边长条 */
.logo .search .searchCon {
    width: 200px;
	height: 30px;
    float: left;
    background: none;
    line-height: 10px;
    text-indent: 5px;
    outline: none;
    font-size: 12px;
}
/* 搜索框的后边搜索键 */
.logo .search .searchMenu {
    float: left;
    width: 85px;
    height: 35px;
	background-color: #5F5F5F;
    outline: none;
    cursor: pointer;
	animation: search 5s linear;
	animation-iteration-count: infinite;
}
/* 导航栏一块 */
#nav{
	width: 100%;
	height: 50px;
	background: #4d3704;
}
.nav{
	width: 980px;
	height: 50px;
	line-height: 35px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
}
.nav li {
    float: left;
	width: 10%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}
.nav a{
	display: inline-block;
	padding: 0 40px;
}
.nav li a {
    display: block;
    padding: 0 15px;
    color: #40aaa7;
}
/* a标签的设置 */
a:visited {
    color: #3d5666;
    text-decoration: none;
}
a:hover{
	background-color: #7f1e6f;
}



/* 轮播图区域 */
@keyframes rotations{
	0%  {background: url(../img/rotation/1.png) no-repeat; }
	30% {background: url(../img/rotation/2.png) no-repeat; }
	60% {background: url(../img/rotation/3.png) no-repeat; }
	100%{background: url(../img/rotation/4.png) no-repeat; }
}
.rotation{
	width: 1000px;
	height: 550px;
	position: relative;
	margin: 0 auto;
	animation: rotations 5s linear;
	animation-iteration-count: infinite;
}
/* 中间板块区域 */
.bankuai{
	width: 1300px;
	height: 1400px;
	margin: 0 auto;
	position: relative;
}
.recommend{
	width: 1050px;
	height: 1150px;
	float: left;
	background-color: #198540;
}
.title{
	width: 200px;
	height: 200px;
}
/* 电影区域 */
.movie{
	width: 1050px;
	height: 1050px;
	position: relative;
}
.recommend li{
	width: 180px;
	height: 310px;
	padding: 5px;
	background-color: #f8ffb0;
	float: left;
	list-style: none;
	margin: 5px;
}
.recommend li img{
	width: 180px;
	height: 270px;
	margin: 0 auto;
}
.recommend .text{
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: absolute;
}
.title{
	width: 150px;
	height: 50px;
	position: relative;
	line-height: 50px;
	border-radius: 10px;
}
/* 排行榜区域 */
.ranklist{
	width: 250px;
	height: 600px;
	float: right;
	background-image: url(../img/10.jpg);
	background-size: 100% 100%;
	text-align: center;
}
/* 明星板块 */
.title1{
	width: 100px;
	height: 50px;
	position: relative;
}
/* 足部css */
.footer{
	width: 980px;
	height: 20px;
	background-color: chocolate;
	text-align: center;
	margin: 0 auto;
}
.footer {
    width: 100%;
	background-color: #4d3704;
	height: 150px;
    background: #4d3704;
    min-width: 1300px;
}
.footer .footer-link {
    line-height: 54px;
    border-bottom: 1px solid #3a3a3a;
    text-align: center;
}
.footer .footer-link a {
    margin-left: 66px;
    color: #fff;
    font-size: 14px;
}
.footer .copyright {
    line-height: 24px;
    color: #aeaeae;
    font-size: 12px;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #5f5f5f;
}
/* 悬浮窗的区域 */
.fix{
	position: fixed;
	left: 5px;
	top: 30%;
}
/* 无缝滚动 */
#roll{position: relative;border:1px solid #0ff;width:1100px; height: 180px;margin:0 auto;overflow: hidden;}
#roll ul{position: absolute;left: 0;}
#roll ul li{list-style: none;width:200px;float: left;padding: 10px;height: 160px;}
#roll ul li img{width:100%;}